body{
    font-family: Arial;
}
#fn_err,#ln_err,#mail_err,#username_err,#password_err,#passwordconf_err{
    height: 13px;
    width: 170px;
    color: red;
    font-size:13px;
}
#fn_input,#ln_input,#mail_input,#username_input,#password_input,#passwordconf_input{
    width: 180px;
}